@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* Space Framework */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
/* Font Framework */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* design */
  scroll-behavior: smooth;
  /* font */
  font-size: 62.5%;
  /* color */
  --black: #212529;
  --gray: #e9ecef;
  --white: #f8f9fa;
}

body {
  /* color */
  background-color: var(--white);
  /* font */
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: 400;
  line-height: 1;
}

/* header */
#home {
  /* width: 100vw; */
  height: 100vh;
}

/* nav */
#home nav {
  width: 100%;
  height: 4%;
  position: fixed;
  background-color: var(--gray);
}

#home ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#home li {
  list-style: none;
}

#home a:link {
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
}

#home a:visited {
  color: var(--black);
}

#home a:hover {
  color: var(--black);
}

#home a:active {
  color: var(--black);
}

/* main */

/* section */
.format {
  min-height: 100vh;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 33.33%;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 1.6rem 0;
}